
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
*.vsidx
.vs/slnx.sqlite
.vs/CommsLinux/v17/workspaceFileList.bin
.vs/CommsLinux/v17/Browse.VC.db
.vs/CommsLinux/v17/.wsuo
.vs/CommsLinux/FileContentIndex/read.lock
